<table class="basic-info">
    <tbody>
        {% if invoice.customerNumber %}
            <tr>
                <th>{{ string('customer_number') }}:</th>
                <td>{{ invoice.customerNumber | nl2br }}</td>
            </tr>
        {% endif %}
        {% if invoice.invoiceNumber %}
            <tr>
                <th>{{ string('invoice_number') }}:</th>
                <td>{{ invoice.invoiceNumber | nl2br }}</td>
            </tr>
        {% endif %}
        {% if invoice.invoiceDate %}
            <tr>
                <th>{{ string('invoice_date') }}:</th>
                <td>{{ invoice.invoiceDate | date }}</td>
            </tr>
        {% endif %}
        {% if invoice.billingPeriod %}
            <tr>
                <th>{{ string('billing_period') }}:</th>
                <td>{{ invoice.billingPeriod | dateRange }}</td>
            </tr>
        {% endif %}
        {% if invoice.commission %}
            <tr>
                <th>{{ string('commission') }}:</th>
                <td>{{ invoice.commission | nl2br }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
