<table class="basic-info">
    <tbody>
        {% if invoice.customerNumber %}
            <tr>
                <th>{{ string('customer_number') }}:</th>
                <td>{% include 'fields/customer_number.twig' %}</td>
            </tr>
        {% endif %}
        {% if invoice.invoiceNumber %}
            <tr>
                <th>{{ string('invoice_number') }}:</th>
                <td>{% include 'fields/invoice_number.twig' %}</td>
            </tr>
        {% endif %}
        {% if invoice.invoiceDate %}
            <tr>
                <th>{{ string('invoice_date') }}:</th>
                <td>{% include 'fields/invoice_date.twig' %}</td>
            </tr>
        {% endif %}
        {% if invoice.billingPeriod %}
            <tr>
                <th>{{ string('billing_period') }}:</th>
                <td>{% include 'fields/billing_period.twig' %}</td>
            </tr>
        {% endif %}
        {% if invoice.commission %}
            <tr>
                <th>{{ string('commission') }}:</th>
                <td>{% include 'fields/commission.twig' %}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
