<table class="line-items">
    <thead>
        <tr>
            {% if columns.description %}
                <th class="line-item-description text">{{ string('item_description') }}</th>
            {% endif %}
            {% if columns.reference %}
                <th class="line-item-reference text">{{ string('item_reference') }}</th>
            {% endif %}
            {% if columns.quantity %}
                <th class="line-item-quantity numeric">{{ string('item_quantity') }}</th>
            {% endif %}
            {% if columns.unit %}
                <th class="line-item-unit text">{{ string('item_unit') }}</th>
            {% endif %}
            {% if columns.quantity or columns.discount %}
                <th class="line-item-unitPrice numeric price">{{ string('item_unit_price') }}</th>
            {% endif %}
            {% if columns.discount %}
                <th class="line-item-discount numeric">{{ string('item_discount') }}</th>
            {% endif %}
            <th class="line-item-total numeric price">{{ string('item_total') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for lineItem in invoice.lineItems %}
            <tr>
                {% if columns.description %}
                    <td class="line-item-description text">{% include 'fields/description.twig' %}</td>
                {% endif %}
                {% if columns.reference %}
                    <td class="line-item-reference text">{% include 'fields/reference.twig' %}</td>
                {% endif %}
                {% if columns.quantity %}
                    <td class="line-item-quantity numeric">{% include 'fields/quantity.twig' %}</td>
                {% endif %}
                {% if columns.unit %}
                    <td class="line-item-unit text">{% include 'fields/unit.twig' %}</td>
                {% endif %}
                {% if columns.quantity or columns.discount %}
                    <td class="line-item-unit-price numeric price">{% include 'fields/unit_price.twig' %}</td>
                {% endif %}
                {% if columns.discount %}
                    <td class="line-item-discount numeric">{% include 'fields/discount.twig' %}</td>
                {% endif %}
                <td class="line-item-total numeric price">{% include 'fields/line_total.twig' %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
